@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

:root{
    --main-color:#f4f1de;
}

body{
    background-color: var(--main-color);
}
nav{
    margin: 1.5em;
}
.nav_url{
    margin: 0.5em;
}
h1{
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}
.picture{
    display: flex;
    flex-direction: column;
    margin: 1em;
}
.picture img{
    
    align-self: center;
}
.picture_text{
    align-self: center;
    margin-top: 16px;
}
